* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.box {
    position: relative;
    width: 400px;
    height: 300px;
}

.box span {
    position: absolute;inset: ;
}